/* #region Fundamental */
body {
  font-family: "Noto Sans JP";
  font-size: 12px;
  color: #384459;
}
/* #endregion */
/* #region layout */
.grid-wrap-dif {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.disp-none {
  display: none;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}

.block {
  display: block;
}
.block-center {
  display: block;
  margin: auto;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.border-right {
  border-right: solid 1px #e4e4e4;
}
.pos-relative-nt15 {
  position: relative;
  top: -15px;
}
.pos-relative-t10 {
  position: relative;
  top: 10px;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.m-auto {
  margin: 0 auto;
}

.m-right {
  margin: 0 0 0 auto;
}
.border-radius-10 {
  border-radius: 10px;
}

/* #endregion */
/* #region Text */
.decoration-none {
  text-decoration: none;
}

.text-black {
  color: #384459;
}
.text-white {
  color: #ffffff;
}
.text-primary-800 {
  color: #007979;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.text-11 {
  font-size: 11px;
}
.text-12 {
  font-size: 12px;
}
.text-14 {
  font-size: 14px;
}
.text-16 {
  font-size: 16px;
}
.text-18 {
  font-size: 18px;
}
.text-20 {
  font-size: 20px;
}
.text-24 {
  font-size: 24px;
}
.text-32 {
  font-size: 32px;
}
.font-bold {
  font-weight: 600;
}
.font-italic {
  font-style: italic;
  /* font-style: oblique; */
}
/* #endregion */
/* #region Background */
.bg-primary {
  background: #007979;
}
.bg-primary-g {
  background: linear-gradient(to right, #2ea1aa, #06bc7a);
}
.bg-white {
  background: #ffffff;
}
.bg-footer {
  background: #384459;
}
.bg-common {
  background: #f1f7f8;
}
.bg-voice {
  background-image: url("../img-voice/uservoice_bg.jpg");
  background-size: cover;
}

.background-hero01-bg {
  background-image: url("../img/hero01_bg01.png");
  background-size: cover;
}
.background-hero02-bg {
  background-image: url("../img-hero/sp-hero02_bg.jpg");
  background-size: 100%;
}
/* #endregion */
/* #region List */
.list-style-none {
  list-style: none;
}
/* #endregion */
/* #region Hover */
.btn-hover:hover {
  opacity: 0.7;
  transition: 1s;
}
/* #endregion */
/* #region Margin,Padding,Gap */
.gap-x-16 {
  gap: 0px 16px;
}
.gap-y-20 {
  gap: 20px 0px;
}
.gap-y-10 {
  gap: 10px 0px;
}

.-gap-y-50 {
  gap: -500px 0px;
}

.py-test {
  padding-top: 500px;
  padding-bottom: 0px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.hidden {
  display: none;
}
.pt-15vw {
  padding-top: 15vw;
}
.ml-auto {
  margin-left: auto;
}
.ml-10 {
  margin-left: 10px;
}
.ml-100 {
  margin-left: 200px;
}
.ml-250 {
  margin-left: 250px;
}
.ml-v50 {
  margin-left: 50vw;
}
.ml-v5 {
  margin-left: 5vw;
}
.mr-v5 {
  margin-right: 5vw;
}
.ml-rv60 {
  margin-left: calc(60vw - 20px);
}
.ml-20 {
  margin-left: 20px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.-mt-10 {
  margin-top: -10px;
}
.-mt-15 {
  margin-top: -15px;
}
.-mt-20 {
  margin-top: -20px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt--50 {
  margin-top: -50px;
}
.mt--95 {
  margin-top: -95px;
}
.mt--100 {
  margin-top: -100px;
}
.mb-0 {
  margin-bottom: 00px;
}
.mb-50 {
  margin-bottom: 50px;
}
/* #endregion */
/* #region size */
.m-width-600 {
  max-width: 600px;
}
.m-width-500 {
  max-width: 537px;
}
.m-width-400 {
  max-width: 400px;
}

.w-full {
  width: 100%;
}
.w-p90 {
  width: 90%;
}
.w-p80 {
  width: 80%;
}
.w-p50 {
  width: 50%;
}
.w-p20 {
  width: 20%;
}
.w-p10 {
  width: 10%;
}
.w-p5 {
  width: 5%;
}
.w-100 {
  width: 100px;
}
.w-250 {
  width: 250px;
}
.w-300 {
  width: 300px;
}
.w-310 {
  width: 310px;
}
.w-394 {
  width: 394px;
}
.w-80 {
  width: 80px;
}
.w-46 {
  width: 46px;
}
.w-30 {
  width: 30px;
}
.w-90p {
  width: 90%;
}
.w-80p {
  width: 80%;
}
.w-40 {
  width: 40px;
}
.w-18 {
  width: 18px;
}
.w-8 {
  width: 8px;
}

.high-p100 {
  height: 100%;
}
.high-680 {
  height: 680px;
}
.high-50 {
  height: 50px;
}
.h-200 {
  height: 200px;
}
.h-150 {
  height: 150px;
}

/* #endregion */
/* #region etc */
.img-sol02-2 {
  width: 80px;
  margin-top: 20px;
  margin-left: 240px;
}
.img-sol02-1 {
  width: 70px;
  margin-top: 0px;
  margin-left: 240px;
}
.btn-11 {
  display: flex;
  font-size: 11px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  width: 189px;
  gap: 0px 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  background: linear-gradient(to right, #2ea1aa, #06bc7a);
  box-shadow: 0px 4px 20px #ffffff, -4px -4px 20px #ffffff;
  margin: 0 auto;
}
.btn-11a {
  display: flex;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  width: 284px;
  gap: 0px 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 20px;
  border-radius: 4px;
  background: linear-gradient(to right, #2ea1aa, #06bc7a);
  margin: 0 auto;
}
.btn-14 {
  display: flex;
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  width: 284spx;
  gap: 5px 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  background: linear-gradient(90deg, #2ea1aa 0%, #06bc7a 100%);
  box-shadow: 0px 4px 20px #ffffff, -4px -4px 20px #ffffff;
  margin: 0 auto;
}
/* #endregion */
