body {
  font-family: "Noto Sans JP";
  font-size: 16px;
  color: #384459;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  align-items: center;
}
.list__menu {
  display: flex;
  list-style: none;
  gap: 0px 30px;
  font-weight: 600;
}
.list__menu-li {
  margin: 0px 20px;
  border-right: solid 1px #e4e4e4;
}

.list__menu-li:last-child {
  border-right: none;
}
.list__menu-li-a {
  text-decoration: none;
  color: #384459;
}

.header__btn {
  display: flex;
  text-decoration: none;
  background: #007979;
  color: #ffffff;
  font-weight: 600;
  padding: 30px 40px;
  gap: 0px 10px;
}

.header_btn {
  opacity: 0.7;
  transition: 1s;
}
