@media screen and (min-width: 640px) {
  .sm_flex {
    display: flex;
  }
  .sm_disp-none {
    display: none;
  }
  .sm_flex-column {
    display: flex;
    flex-direction: column;
  }
  .sm_hidden {
    display: none;
  }

  .sm_pos-relative-nt10 {
    position: relative;
    top: -10px;
  }

  .sm_background-hero02-bg {
    background-image: url("../img-hero/hero02_bg.jpg");
    background-size: cover;
  }

  .sm_text-12 {
    font-size: 12px;
  }

  .sm_text-14 {
    font-size: 14px;
  }

  .sm_py-30 {
    padding-top: 30px;
  }
  .sm_px-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .sm_px-20 {
    padding-left: 20px;
  }
  .sm_px-30 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .sm_gap-x-20 {
    gap: 0px 20px;
  }

  .sm_gap-y-50 {
    gap: 50px 0px;
  }

  .sm_w-150 {
    width: 150px;
  }
}
